@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
#contents .article-main ul.icon-box li, #contents .article-main .con-box .sm-info-01 ul li {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  position: absolute;
  width: 12px;
  height: 12px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid; }

@font-face {
  font-family: 'nexa';
  src: url("fonts/nexa/Nexa Light.eot");
  src: url("fonts/nexa/Nexa Light.eot?#iefix") format("embedded-opentype"), url("fonts/nexa/Nexa Light.woff2") format("woff2"), url("fonts/nexa/Nexa Light.woff") format("woff"), url("fonts/nexa/Nexa Light.otf") format("opentype");
  font-weight: normal; }

@font-face {
  font-family: 'nexa';
  src: url("fonts/nexa/Nexa Bold.eot");
  src: url("fonts/nexa/Nexa Bold.eot?#iefix") format("embedded-opentype"), url("fonts/nexa/Nexa Bold.woff2") format("woff2"), url("fonts/nexa/Nexa Bold.woff") format("woff"), url("fonts/nexa/Nexa Bold.otf") format("opentype");
  font-weight: bold; }

@font-face {
  font-family: 'nexa script';
  src: url("fonts/nexascript/NexaScript-Free.eot");
  src: url("fonts/nexascript/NexaScript-Free.eot?#iefix") format("embedded-opentype"), url("fonts/nexascript/NexaScript-Free.woff2") format("woff2"), url("fonts/nexascript/NexaScript-Free.woff") format("woff"), url("fonts/nexascript/NexaScript-Free.otf") format("opentype");
  font-weight: normal; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: 'noto sans kr';
  letter-spacing: -1px; }

body {
  line-height: 1;
  font-size: 62.5%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 10px 0;
  padding: 0; }

input, select {
  text-shadow: none;
  border-radius: 0;
  vertical-align: middle; }

input[type="text"], input[type="password"], input[type="number"], input[type="tel"], textarea {
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'NotoSansKRRegular';
  -webkit-appearance: none;
  font-size: 12px; }

img {
  vertical-align: top; }

#head_banner {
  height: 150px;
  background: #d20038;
  color: #fff;
  text-align: center;
  line-height: 150px;
  font-family: nexa script;
  font-size: 42px; }

#header {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background: url("../img/test/header.jpg") no-repeat;
  text-indent: -3000px; }

.slide-main-wrap {
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  /* control-m END */ }
  .slide-main-wrap #slide-main li {
    background: url("../img/test/bg_main.jpg") no-repeat;
    background-position: center; }
  .slide-main-wrap #slide-main img {
    height: 100%;
    margin: 0 auto; }
  .slide-main-wrap .control-m {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 3; }
    .slide-main-wrap .control-m .num {
      position: absolute;
      bottom: 24px;
      left: 50%;
      margin-left: -43px; }
      .slide-main-wrap .control-m .num a {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 5px;
        border-radius: 50%;
        background: #fff; }
      .slide-main-wrap .control-m .num a.on {
        background: 0 none;
        border: 2px solid #fff; }

#contents {
  position: relative;
  /* title-floor END */
  /* article-main END */
  /********************************************/
  /* article-floor END */ }
  #contents.w-fix {
    width: 1080px;
    margin: 45px auto; }
  #contents .bg-deco {
    position: absolute;
    z-index: -1; }
    #contents .bg-deco.x01 {
      top: 23%;
      right: -410px; }
    #contents .bg-deco.x02 {
      top: 56%;
      left: -250px; }
  #contents .title-floor {
    display: table;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 900px;
    background: url("../img/test/bg_title.jpg") no-repeat;
    background-position: left top;
    background-size: auto;
    text-align: center;
    /* title-text END */
    /* title-subimg END */ }
    #contents .title-floor .title-text {
      display: table-cell;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      /* tline END */ }
      #contents .title-floor .title-text h1 {
        font-size: 80px;
        font-weight: normal;
        padding-top: 20px; }
        #contents .title-floor .title-text h1 strong {
          font: 80px nexa script; }
      #contents .title-floor .title-text h2 {
        letter-spacing: 1em;
        font: bold 12px nexa; }
      #contents .title-floor .title-text .tline {
        display: inline-block;
        width: 490px;
        border-top: 1px solid #cccccc;
        margin: 20px 0; }
      #contents .title-floor .title-text p {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px; }
    #contents .title-floor .title-subimg {
      width: 130px;
      height: 120px;
      position: absolute;
      bottom: 0;
      left: 180px;
      background: #fff; }
      #contents .title-floor .title-subimg img {
        margin: 15px 0 0 15px; }
  #contents .article-main {
    overflow: hidden;
    margin-bottom: 60px;
    /* icon box END */
    /* line_divid END */
    /* slide-min END */ }
    #contents .article-main ul.icon-box {
      overflow: hidden;
      width: 100%; }
      #contents .article-main ul.icon-box li {
        width: 25%;
        float: left;
        text-align: center;
        border-right: 1px solid #ddd; }
        #contents .article-main ul.icon-box li:last-child {
          border-right: 0 none; }
        #contents .article-main ul.icon-box li img {
          margin-bottom: 15px; }
        #contents .article-main ul.icon-box li h3 {
          font-size: 18px;
          font-weight: 500;
          padding-bottom: 5px; }
        #contents .article-main ul.icon-box li p {
          font-size: 14px;
          color: #666; }
    #contents .article-main .line_divid {
      width: 100%;
      height: 9px;
      background: url("../img/test/line_01.png") repeat-x; }
    #contents .article-main .con-box {
      display: inline-block;
      position: relative;
      /* sm-info END */
      /* control END */ }
      #contents .article-main .con-box h2 {
        font-family: nexa;
        font-size: 28px;
        font-weight: normal;
        padding-bottom: 20px; }
        #contents .article-main .con-box h2 strong {
          font-weight: bold; }
        #contents .article-main .con-box h2 #btn-sns {
          float: right;
          padding-top: 2px; }
      #contents .article-main .con-box .slide_min {
        float: left; }
        #contents .article-main .con-box .slide_min ul li {
          position: relative;
          /* sm-info END */ }
          #contents .article-main .con-box .slide_min ul li .sm-info-02 {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -70px;
            color: #fff;
            text-align: center;
            padding-top: 140px;
            z-index: 3; }
            #contents .article-main .con-box .slide_min ul li .sm-info-02 h3 {
              margin-bottom: 20px; }
            #contents .article-main .con-box .slide_min ul li .sm-info-02 p {
              width: 140px;
              padding-bottom: 40px;
              font-size: 16px; }
            #contents .article-main .con-box .slide_min ul li .sm-info-02 a {
              display: inline-block;
              font-family: nexa;
              letter-spacing: 0.5em;
              color: #fff;
              border: 1px solid #fff;
              padding: 10px 16px 10px 26px; }
      #contents .article-main .con-box .sm-info-01 {
        float: right;
        position: relative;
        bottom: 0;
        right: 0;
        width: 240px;
        height: 380px;
        color: #fff; }
        #contents .article-main .con-box .sm-info-01 ul li {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 240px;
          height: 380px;
          background: #ac8927;
          padding: 50px 24px; }
          #contents .article-main .con-box .sm-info-01 ul li span {
            position: relative;
            font-size: 12px;
            vertical-align: bottom; }
            #contents .article-main .con-box .sm-info-01 ul li span img {
              margin-right: 10px; }
          #contents .article-main .con-box .sm-info-01 ul li h3 {
            padding: 20px 0 10px;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px; }
          #contents .article-main .con-box .sm-info-01 ul li p {
            padding-bottom: 40px;
            font-size: 14px;
            line-height: 18px; }
          #contents .article-main .con-box .sm-info-01 ul li a {
            display: inline-block;
            font-family: nexa;
            letter-spacing: 0.5em;
            color: #fff;
            border: 1px solid #fff;
            padding: 10px 16px 10px 26px; }
      #contents .article-main .con-box .control-01 {
        width: 500px;
        height: 380px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        z-index: 3;
        /* num END */ }
        #contents .article-main .con-box .control-01 .prev-01 {
          position: absolute;
          margin-top: -13px;
          top: 50%;
          left: 15px;
          font-size: 13px; }
        #contents .article-main .con-box .control-01 .next-01 {
          position: absolute;
          margin-top: -13px;
          top: 50%;
          right: 15px;
          font-size: 13px; }
        #contents .article-main .con-box .control-01 .num {
          position: absolute;
          bottom: 28px;
          right: -145px; }
          #contents .article-main .con-box .control-01 .num a {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 5px;
            border-radius: 50%;
            background: #fff; }
          #contents .article-main .con-box .control-01 .num a.on {
            background: 0 none;
            border: 1px solid #fff; }
      #contents .article-main .con-box .control-02 {
        width: 300px;
        height: 380px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        /* num END */ }
        #contents .article-main .con-box .control-02 .prev-02 {
          position: absolute;
          margin-top: -13px;
          top: 50%;
          left: 15px;
          font-size: 13px; }
        #contents .article-main .con-box .control-02 .next-02 {
          position: absolute;
          margin-top: -13px;
          top: 50%;
          right: 15px;
          font-size: 13px; }
        #contents .article-main .con-box .control-02 .num {
          position: absolute;
          left: 50%;
          bottom: 28px;
          margin-left: -26px;
          text-align: center; }
          #contents .article-main .con-box .control-02 .num a {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 5px;
            border-radius: 50%;
            background: #fff; }
          #contents .article-main .con-box .control-02 .num a.on {
            background: 0 none;
            border: 1px solid #fff; }
  #contents .article-floor {
    position: relative;
    /* con-infobox END */
    /* .s01 END */
    /* .s02 END */
    /* .s03 END */
    /* .s04 END */
    /* .s05 END */ }
    #contents .article-floor > div {
      display: inline-block; }
    #contents .article-floor .con-infobox h3 {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 10px; }
    #contents .article-floor .con-infobox h2 {
      font: bold 58px nexa;
      letter-spacing: 0.3em; }
    #contents .article-floor .con-infobox p {
      font-size: 16px;
      color: #666;
      line-height: 26px;
      margin: 20px 0; }
    #contents .article-floor .con-infobox span {
      display: block;
      height: 21px;
      font-size: 12px;
      line-height: 21px; }
    #contents .article-floor .con-infobox a {
      display: inline-block;
      padding: 22px 74px;
      border: 1px solid #000;
      margin-top: 65px;
      font-size: 12px;
      letter-spacing: 0.05em; }
    #contents .article-floor.s01 {
      width: 1340px;
      min-width: 1080px;
      height: 560px;
      margin: 210px auto 0; }
      #contents .article-floor.s01 .con-img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2; }
      #contents .article-floor.s01 .con-img_bg {
        background-color: #bb8d0b;
        width: 340px;
        height: 190px;
        position: absolute;
        top: 20px;
        right: -20px;
        z-index: 1; }
      #contents .article-floor.s01 .deco {
        background: url("../img/test/deco_01.png") no-repeat;
        width: 632px;
        height: 122px;
        position: absolute;
        bottom: -20px;
        right: 180px;
        z-index: 3; }
      #contents .article-floor.s01 .con-infobox {
        position: absolute;
        top: 100px;
        left: 0; }
    #contents .article-floor.s02 {
      width: 1760px;
      min-width: 1080px;
      height: 740px;
      margin: 210px auto 0; }
      #contents .article-floor.s02 .con-infobox {
        position: absolute;
        top: 100px;
        left: 1020px; }
      #contents .article-floor.s02 .con-img {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 2; }
      #contents .article-floor.s02 .con-img_bg {
        background-color: #d20038;
        width: 378px;
        height: 535px;
        position: absolute;
        top: 200px;
        left: -70px;
        z-index: 1; }
      #contents .article-floor.s02 .deco {
        background: url("../img/test/deco_02.png") no-repeat;
        width: 205px;
        height: 50px;
        position: absolute;
        bottom: 120px;
        left: 800px;
        z-index: 3; }
      #contents .article-floor.s02 .arrow {
        display: inline-block;
        width: 145px;
        height: 80px;
        line-height: 80px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        z-index: 3;
        font-size: 18px; }
        #contents .article-floor.s02 .arrow img {
          margin: 14px 20px; }
    #contents .article-floor.s03 {
      width: 1380px;
      min-width: 1080px;
      height: 500px;
      margin: 280px auto 0; }
      #contents .article-floor.s03 .con-infobox {
        position: absolute;
        top: 100px;
        left: 0; }
      #contents .article-floor.s03 .con-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2; }
      #contents .article-floor.s03 .con-img_bg {
        background-color: #bb8d0b;
        width: 460px;
        height: 225px;
        position: absolute;
        bottom: -15px;
        right: -15px;
        z-index: 1; }
      #contents .article-floor.s03 .deco {
        background: url("../img/test/deco_03.jpg") no-repeat;
        width: 890px;
        height: 550px;
        position: absolute;
        top: -200px;
        right: -260px;
        z-index: 1; }
      #contents .article-floor.s03 .arrow {
        display: inline-block;
        width: 105px;
        height: 52px;
        line-height: 52px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 42%;
        margin-left: -50px;
        z-index: 3;
        padding: 14px 20px;
        font-size: 18px; }
        #contents .article-floor.s03 .arrow img {
          float: right; }
    #contents .article-floor.s04 {
      width: 1460px;
      min-width: 1080px;
      height: 810px;
      margin: 210px auto 0; }
      #contents .article-floor.s04 .con-infobox {
        position: absolute;
        top: 260px;
        right: 0; }
      #contents .article-floor.s04 .con-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      #contents .article-floor.s04 .con-img2 {
        position: absolute;
        top: 0;
        left: 570px;
        z-index: 2; }
      #contents .article-floor.s04 .con-img_bg {
        background-color: #d20038;
        width: 221px;
        height: 415px;
        position: absolute;
        bottom: -15px;
        left: -15px;
        z-index: 1; }
      #contents .article-floor.s04 .deco {
        background: url("../img/test/deco_04.png") no-repeat;
        width: 424px;
        height: 416px;
        position: absolute;
        top: 200px;
        left: 36%;
        z-index: 1; }
    #contents .article-floor.s05 {
      width: 1600px;
      min-width: 1080px;
      height: 564px;
      margin: 210px auto 0; }
      #contents .article-floor.s05 .con-infobox {
        position: absolute;
        top: 200px;
        left: 0; }
      #contents .article-floor.s05 .con-img {
        position: absolute;
        top: 0;
        right: 72px;
        z-index: 2; }
      #contents .article-floor.s05 .con-img2 {
        position: absolute;
        bottom: 0;
        right: 780px;
        z-index: 2; }
      #contents .article-floor.s05 .con-img_bg {
        background-color: #bb8d0b;
        width: 630px;
        height: 230px;
        position: absolute;
        top: 220px;
        right: -150px;
        z-index: 1; }
      #contents .article-floor.s05 .deco {
        background: url("../img/test/deco_05.png") no-repeat;
        width: 85px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 20%;
        z-index: 1; }
      #contents .article-floor.s05 .arrow {
        display: inline-block;
        width: 105px;
        height: 52px;
        line-height: 52px;
        background: #fff;
        position: absolute;
        top: 32%;
        right: 0;
        margin-left: -50px;
        z-index: 3;
        padding: 14px 20px;
        font-size: 18px; }
        #contents .article-floor.s05 .arrow img {
          float: right; }

/* #contents END */
#footer {
  overflow: hidden;
  width: 100%;
  height: 463px;
  background: url("../img/test/footer.jpg") no-repeat;
  margin-top: 100px; }

/* #footer END */
.jssorb01 {
  position: absolute; }
  .jssorb01 div {
    background-color: #333333; }
    .jssorb01 div:hover {
      background-color: #d3d3d3; }
  .jssorb01 .av {
    background-color: #fff; }
    .jssorb01 .av:hover {
      background-color: #d3d3d3; }
  .jssorb01 .dn {
    background-color: #555555; }
    .jssorb01 .dn:hover {
      background-color: #555555; }

/* jssorb01 END */
.jssora13l {
  display: block;
  position: absolute;
  cursor: pointer;
  background: url("../img/test/btn_prev.png") no-repeat;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 25%;
  width: 39px;
  height: 74px;
  margin-left: -39px; }

/* jssora13l END */
.jssora13r {
  display: block;
  position: absolute;
  cursor: pointer;
  background: url("../img/test/btn_next.png") no-repeat;
  overflow: hidden;
  z-index: 2;
  top: 0;
  right: 25%;
  width: 39px;
  height: 74px; }

/* jssora13r END */
.mask {
  width: 1900px;
  height: 680px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }
  .mask div {
    float: left; }
  .mask .mask-dark {
    width: 410px;
    height: 680px;
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box; }
  .mask .mask-block {
    width: 1080px;
    height: 680px; }

/* mask END */
.bot-banner .bb-title {
  position: relative;
  padding: 250px 0 55px;
  text-align: center; }
  .bot-banner .bb-title p {
    font: bold 16px nexa;
    letter-spacing: 1em; }
  .bot-banner .bb-title .deco {
    background: url("../img/test/deco_06.png") no-repeat;
    width: 205px;
    height: 50px;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 1; }

/* bot-banner END */
