//colors
$black: #000;
$pale_canary: #ff9;
$color_celeste_approx: #cccccc;
$color_nobel_approx: #b5b5b5;
$white: #fff;
$color_storm_dust_approx: #666;
$color_hot_toddy_approx: #bb8d0b;
$color_crimson_approx: #d20038;
$color_mine_shaft_approx: #333333;
$color_quill_gray_approx: #d3d3d3;
$color_fuscous_gray_approx: #555555;
$black_40: rgba(0, 0, 0, 0.4); //fonts
$font_0: nexa;
$font_1: nexa script;
$font_2: NotoSansKRRegular; //urls
$url_16: url("../img/test/header.jpg");
$url_17: url("../img/test/footer.jpg");
$url_18: url("../img/test/bg_title.jpg");
$url_19: url("../img/test/deco_01.png");
$url_20: url("../img/test/deco_02.png");
$url_21: url("../img/test/deco_03.jpg");
$url_22: url("../img/test/deco_04.png");
$url_23: url("../img/test/deco_05.png");
$url_24: url("../img/test/deco_06.png");
$url_25: url("../img/test/btn_prev.png");
$url_26: url("../img/test/btn_next.png");
$url_27: url("../img/test/line_01.png"); //@extend-elements
//original selectors
//input, select

%extend_1 {
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    vertical-align: middle;
}
//original selectors
//input[type="text"], input[type="password"], input[type="number"], input[type="tel"], textarea

%extend_2 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
//original selectors
//.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av

%extend_3 {
    position: absolute;
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: 0.7;
    overflow: hidden;
    cursor: pointer;
    border: $black 1px solid;
}
@import 'common/fonts.scss';
@import 'common/reset.scss';
@import 'common/mixin.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

#head_banner {
    height: 150px;
    background: #d20038;
    color: #fff;
    text-align: center;
    line-height: 150px;

    .head_banner_inner{
        width: 1080px;
        margin: 0 auto;
        font-family: $font_1;
        font-size: 42px;
        a{
            float:right;
        }
    }
}

#header {
    overflow: hidden;
    width: 100%;
    height: 131px;
    background: $url_16 no-repeat;
    text-indent: -3000px;
}
.header_line{
    border-top: 9px solid #d20038;
}

.slide-main-wrap {
    overflow: hidden;
    position: relative;
    top: 0;
    #slide-main {
    }

    .control-m {
        width: 1900px;
        height: 650px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 3;
        .num {
            position: absolute;
            bottom: 24px;
            left: 50%;
            margin-left: -43px;

            a {
                display: inline-block;
                width: 6px;
                height: 6px;
                margin: 0 5px;
                border-radius: 50%;
                background: #fff;
                vertical-align: middle;
            }

            a.on {
                background: 0 none;
                border: 2px solid #fff;
            }
        }
    }
    /* control-m END */
}

#aside-floor{
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -50px;
    z-index: 5;
    box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

#contents {
    position: relative;
    &.w-fix{
        width: 1080px;
        margin: 45px auto;
    }
    .bg-deco{
        position: absolute;
        z-index: -1;
        &.x01{
            top:23%;
            right: -410px;
        }
        &.x02{
            top:56%;
            left:-250px;
        }
    }
    .title-floor {
        overflow: visible !important;
        display: table;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 900px;

        text-align: center;
        .mask{
            position:absolute;
            top: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: $url_18 no-repeat;
            background-position: left top;
            background-size: auto;
            filter: brightness(1);
            z-index: -1;
            transition: .4s;
        }
        .title-text {
            display: table-cell;
            color: $white;
            text-align: center;
            vertical-align: middle;
            transition: 1s;
            opacity: 0;
            h1 {
                font-size: 80px;
                font-weight: normal;
                padding-top: 20px;

                strong {
                    font: 80px $font_1;
                }
            }

            h2 {
                letter-spacing: 1em;
                font: bold 12px $font_0;
            }

            .tline {
                display: inline-block;
                width: 490px;
                border-top: 1px solid $color_celeste_approx;
                margin: 20px 0;
            }
            /* tline END */
            p {
                font-size: 14px;
                font-weight: normal;
                line-height: 22px;
            }
        }
        /* title-text END */
        .title-subimg {
            width: 130px;
            height: 120px;
            position: absolute;
            bottom: 0;
            left: 180px;
            background: $white;

            img {
                margin: 15px 0 0 15px;
            }
        }
        /* title-subimg END */
    }
    /* title-floor END */
    .article-main {
        overflow: hidden;
        margin-bottom: 60px;

        ul.icon-box {
            overflow: hidden;
            width: 100%;

            li {
                width: 25%;
                float: left;
                text-align: center;
                border-right: 1px solid #ddd;
                @extend %extend_2;

                &:last-child {
                    border-right: 0 none;
                }

                img {
                    margin-bottom: 15px;
                }

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    padding-bottom: 5px;
                }

                p {
                    font-size: 14px;
                    color: #666;
                }
            }
        }
        /* icon box END */
        .line_divid {
            width: 100%;
            height: 9px;
            background: $url_27 repeat-x;
        }
        /* line_divid END */
        .con-box {
            display: inline-block;
            position: relative;

            h2 {
                font-family: $font_0;
                font-size: 28px;
                font-weight: normal;
                padding-bottom: 20px;

                strong {
                    font-weight: bold;
                }

                #btn-sns {
                    float: right;
                    padding-top: 2px;
                }
            }

            .slide_min {
                float: left;

                ul {
                    li {
                        position: relative;

                        img {}

                        .sm-info-02 {
                            position: absolute;
                            top: 0;
                            left: 50%;
                            margin-left: -70px;
                            color: #fff;
                            text-align: center;
                            padding-top: 140px;
                            z-index: 3;

                            h3 {
                                margin-bottom: 20px;
                            }

                            p {
                                width: 140px;
                                padding-bottom: 40px;
                                font-size: 16px;
                            }

                            a {
                                display: inline-block;
                                font-family: $font_0;
                                letter-spacing: 0.5em;
                                color: #fff;
                                border: 1px solid #fff;
                                padding: 10px 16px 10px 26px;
                            }
                        }
                        /* sm-info END */
                    }
                }
            }

            .sm-info-01 {
                float: right;
                position: relative;
                bottom: 0;
                right: 0;
                width: 240px;
                height: 380px;
                color: #fff;

                ul {
                    li {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 240px;
                        height: 380px;
                        background: #ac8927;
                        padding: 50px 24px;
                        @extend %extend_2;

                        span {
                            position: relative;
                            font-size: 12px;
                            vertical-align: bottom;
                            img{
                                margin-right: 10px;
                            }
                        }

                        h3 {
                            padding: 20px 0 10px;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 24px;
                        }

                        p {
                            padding-bottom: 40px;
                            font-size: 14px;
                            line-height: 18px;
                        }

                        a {
                            display: inline-block;
                            font-family: $font_0;
                            letter-spacing: 0.5em;
                            color: #fff;
                            border: 1px solid #fff;
                            padding: 10px 16px 10px 26px;
                        }
                    }
                }
            }
            /* sm-info END */
            .control-01 {
                width: 500px;
                height: 380px;
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                z-index: 3;

                .prev-01 {
                    position: absolute;
                    margin-top: -13px;
                    top: 50%;
                    left: 15px;
                    font-size: 13px;
                }

                .next-01 {
                    position: absolute;
                    margin-top: -13px;
                    top: 50%;
                    right: 15px;
                    font-size: 13px;
                }

                .num {
                    position: absolute;
                    bottom: 28px;
                    right: -145px;

                    a {
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        margin: 0 5px;
                        border-radius: 50%;
                        background: #fff;
                        @extend %extend_2;
                    }

                    a.on {
                        background: 0 none;
                        border: 1px solid #fff;
                    }
                }
                /* num END */
            }

            .control-02 {
                width: 300px;
                height: 380px;
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;

                .prev-02 {
                    position: absolute;
                    margin-top: -13px;
                    top: 50%;
                    left: 15px;
                    font-size: 13px;
                }

                .next-02 {
                    position: absolute;
                    margin-top: -13px;
                    top: 50%;
                    right: 15px;
                    font-size: 13px;
                }

                .num {
                    position: absolute;
                    left: 50%;
                    bottom: 28px;
                    margin-left: -26px;
                    text-align: center;

                    a {
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        margin: 0 5px;
                        border-radius: 50%;
                        background: #fff;
                        @extend %extend_2;
                    }

                    a.on {
                        background: 0 none;
                        border: 1px solid #fff;
                    }
                }
                /* num END */
            }
            /* control END */
        }
        /* slide-min END */
    }
    /* article-main END */
    /********************************************/
    .article-floor {
        position: relative;

        > div {
            display: inline-block;
        }

        .con-infobox {
            h3 {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 10px;
            }

            h2 {
                font: bold 58px $font_0;
                letter-spacing: 0.3em;
            }

            p {
                font-size: 16px;
                color: $color_storm_dust_approx;
                line-height: 26px;
                margin: 20px 0;
            }

            span {
                display: block;
                height: 21px;
                font-size: 12px;
                line-height: 21px;
            }

            a {
                display: inline-block;
                padding: 22px 74px;
                border: 1px solid $black;
                margin-top: 65px;
                font-size: 12px;
                letter-spacing: 0.05em;
            }
        }
        /* con-infobox END */
        &.s01 {
            width: 1340px;
            min-width: 1080px;
            height: 560px;
            margin: 210px auto 0;

            .con-img {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
            }

            .con-img_bg {
                background-color: $color_hot_toddy_approx;
                width: 340px;
                height: 190px;
                position: absolute;
                top: 20px;
                right: -20px;
                z-index: 1;
            }

            .deco {
                background: $url_19 no-repeat;
                width: 632px;
                height: 122px;
                position: absolute;
                bottom: -20px;
                right: 180px;
                z-index: 3;
            }

            .con-infobox {
                position: absolute;
                top: 100px;
                left: 0;
            }
        }
        /* .s01 END */
        &.s02 {
            width: 1760px;
            min-width: 1080px;
            height: 740px;
            margin: 210px auto 0;

            .con-infobox {
                position: absolute;
                top: 100px;
                left: 1020px;
            }

            .con-img {
                position: absolute;
                right: 0;
                left: 0;
                z-index: 2;
            }

            .con-img_bg {
                background-color: $color_crimson_approx;
                width: 378px;
                height: 535px;
                position: absolute;
                top: 200px;
                left: -70px;
                z-index: 1;
            }

            .deco {
                background: $url_20 no-repeat;
                width: 205px;
                height: 50px;
                position: absolute;
                bottom: 120px;
                left: 800px;
                z-index: 3;
            }

            .arrow {
                display: inline-block;
                width: 145px;
                height: 80px;
                line-height: 80px;
                background: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -50px;
                z-index: 3;
                font-size: 18px;

                img {
                    margin: 14px 20px;
                }
            }
        }
        /* .s02 END */
        &.s03 {
            width: 1380px;
            min-width: 1080px;
            height: 500px;
            margin: 280px auto 0;

            .con-infobox {
                position: absolute;
                top: 100px;
                left: 0;
            }

            .con-img {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
            }

            .con-img_bg {
                background-color: $color_hot_toddy_approx;
                width: 460px;
                height: 225px;
                position: absolute;
                bottom: -15px;
                right: -15px;
                z-index: 1;
            }

            .deco {
                background: $url_21 no-repeat;
                width: 890px;
                height: 550px;
                position: absolute;
                top: -200px;
                right: -260px;
                z-index: 1;
            }

            .arrow {
                display: inline-block;
                width: 105px;
                height: 52px;
                line-height: 52px;
                background: $white;
                position: absolute;
                top: 50%;
                left: 42%;
                margin-left: -50px;
                z-index: 3;
                padding: 14px 20px;
                font-size: 18px;

                img {
                    float: right;
                }
            }
        }
        /* .s03 END */
        &.s04 {
            width: 1460px;
            min-width: 1080px;
            height: 810px;
            margin: 210px auto 0;

            .con-infobox {
                position: absolute;
                top: 260px;
                right: 0;
            }

            .con-img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            .con-img2 {
                position: absolute;
                top: 0;
                left: 570px;
                z-index: 2;
            }

            .con-img_bg {
                background-color: $color_crimson_approx;
                width: 221px;
                height: 415px;
                position: absolute;
                bottom: -15px;
                left: -15px;
                z-index: 1;
            }

            .deco {
                background: $url_22 no-repeat;
                width: 424px;
                height: 416px;
                position: absolute;
                top: 200px;
                left: 36%;
                z-index: 1;
            }
        }
        /* .s04 END */
        &.s05 {
            width: 1600px;
            min-width: 1080px;
            height: 564px;
            margin: 210px auto 0;

            .con-infobox {
                position: absolute;
                top: 200px;
                left: 0;
            }

            .con-img {
                position: absolute;
                top: 0;
                right: 72px;
                z-index: 2;
            }

            .con-img2 {
                position: absolute;
                bottom: 0;
                right: 780px;
                z-index: 2;
            }

            .con-img_bg {
                background-color: $color_hot_toddy_approx;
                width: 630px;
                height: 230px;
                position: absolute;
                top: 220px;
                right: -150px;
                z-index: 1;
            }

            .deco {
                background: $url_23 no-repeat;
                width: 85px;
                height: 35px;
                position: absolute;
                top: 0;
                left: 20%;
                z-index: 1;
            }

            .arrow {
                display: inline-block;
                width: 105px;
                height: 52px;
                line-height: 52px;
                background: $white;
                position: absolute;
                top: 32%;
                right: 0;
                margin-left: -50px;
                z-index: 3;
                padding: 14px 20px;
                font-size: 18px;

                img {
                    float: right;
                }
            }
        }
        /* .s05 END */
    }
    /* article-floor END */
}

/* notice page */
.title-basic{
    width: 100%;
    height: 80px;
    margin-top: 60px;
    text-align: center;
    background: $url_27 repeat-x;
    background-position: left bottom;
    h2{
        font-size: 45px;
        font-weight: 500;
        letter-spacing: -0.05em;
        color: #333;
    }
    span{
        float: right;
        color: #999;
        font-size: 12px;
        vertical-align: middle;
        img{
            vertical-align: top;
            margin: 2px 4px;
        }
    }
}
.title-basic-sub{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    h3{
        font-size: 25px;
        font-weight: 100;
    }
}
.search-basic{
    width: 100%;
    padding: 40px 0;
    text-align: center;
    input[type="search"]{
        width: 350px;
        height: 45px;
        padding: 10px;
        margin-right: 5px;
        border: 1px solid #ddd;
        vertical-align: top;
        @extend %extend_2;
    }
    button{
        width: 60px;
        height: 45px;
        border: 0 none;
        background: #444;
        vertical-align: top;
    }
}
.board-basic{
    width: 100%;
    table{
        width: 100%;
        font-size: 12px;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
        thead{
            background: #f8f8f8;
            border-bottom: 1px solid #e7e7e7;
            tr{
                height: 50px;
                line-height: 50px;
                td{
                    text-align: center;
                    font-size: 14px;
                    font-weight:500;
                    color: #444;
                }
            }
        }
        tbody{
            tr{
                height: 60px;
                line-height: 60px;
                border-bottom: 1px solid #e7e7e7;
                &:last-child{border-bottom: 0 none;}
                td{
                    font-size: 14px;
                    color: #666;
                    &:nth-child(1){
                        font-family: $font_0;
                        text-align: center;}
                    &:nth-child(2){
                        text-align: left;
                        cursor: pointer;}
                    &:nth-child(3){
                        font-family: $font_0;
                        text-align: center;}
                }
            }
        }
    }
}
.board-basic-on{
    width: 100%;
    margin-top: 40px;
    table{
        width: 100%;
        font-size: 12px;

        thead{
            tr{
                height: 60px;
                line-height: 60px;
                td{
                    font-size: 14px;
                    font-weight:500;
                    color: #444;
                    &:nth-child(1){
                        font-size: 20px;
                        text-align: left;
                        cursor: pointer;}
                    &:nth-child(2){
                        font-family: $font_0;
                        text-align: right;}

                }
            }
        }
        tbody{
            tr{
                border-top: 1px solid #444;
                border-bottom: 1px solid #444;
                td{
                    padding: 40px 15px 80px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #666;
                    text-align: left;
                }
            }
        }
    }
}
.board-basic-pn{
    width: 100%;
    table{
        width: 100%;
        margin-top: 100px;
        font-size: 12px;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
        tbody{
            img{
                vertical-align: middle;
                margin-right: 5px;
            }
            tr{
                height: 60px;
                line-height: 60px;
                border-bottom: 1px solid #e7e7e7;
                &:last-child{border-bottom: 0 none;}
                td{
                    font-size: 14px;
                    color: #666;
                    &:nth-child(1){
                        font-family: $font_0;
                        font-weight: bold;
                        color: #444;
                        text-align: center;}
                    &:nth-child(2){
                        text-align: left;
                        cursor: pointer;}
                    &:nth-child(3){
                        font-family: $font_0;
                        text-align: center;}
                }
            }
        }
    }
}
.pager{
    width: 100%;
    margin-top: 40px;
    text-align: center;
    > a{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px;
        border: 1px solid #e7e7e7;
        vertical-align: top;
        &:nth-child(2){
            margin-right: 30px;
        }
        &:nth-child(4){
            margin-left: 30px;
        }
    }
    ul{
        display: inline-block;
        overflow: hidden;
        li{
            width: 15px;
            height: 30px;
            line-height: 30px;
            margin: 0 10px;
            float: left;
            a{
                font-family: $font_0;
                font-size: 14px;
                &.on{
                    color: #444;
                    font-weight: 600;
                    border-bottom: 1px solid #444;
                }
            }
        }
    }
}
.btn-area{
    text-align: right;
    padding-top: 20px;
    .btn-list{
        display: inline-block;
        width: 80px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #444;
        color: #fff;
        font-size: 14px;
    }
}

/* FAQ page */
.accordion-basic{
    width: 100%;
    font-size: 14px;
    color: #666;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    .accordion-box{
        margin-top: -1px;
        border-bottom: 1px solid #e7e7e7;
        .accordion-box-title{
            &.on{
                background: #f8f8f8;
                border-top: 1px solid #444;
                border-bottom: 1px solid #e7e7e7;
            }
            img{
                vertical-align: middle;
            }
            table{
                width: 100%;
                tr{
                    height: 60px;
                    line-height: 60px;
                    th{
                        font-family: $font_0;
                    }
                    td{
                        font-weight: 500;
                        color: #444;
                        &:last-child{
                            text-align: center;
                        }
                    }
                }
            }
        }

        .accordion-box-dropdown{
            display: none;
            table{
                width: 100%;
                tr{
                    th{
                        font-family: $font_0;
                        color: #d20038;
                    }
                    td{
                        padding: 40px 0 70px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}
/* event page */
.recent-event{
    width: 100%;
    padding: 40px 0;
    .recent-event-box{
        overflow: hidden;
        display: inline-block;
        width: 340px;
        margin-right: 28px;
        border: 1px solid #e7e7e7;
        @extend %extend_2;
        &:last-child{
            margin-right: 0;
        }
        .r-e_img{
            overflow: hidden;
            width: 100%;
            height: 220px;
            background: url('../img/test/event_img.jpg')no-repeat;
            background-size: cover;
            background-position: center;
        }
        .r-e_info{
            padding: 20px 20px 50px;
            span{
                font-size: 13px;
                color: #666;
            }
            h3{
                overflow: hidden;
                font-size: 24px;
                color: #222;
                margin: 15px 0;
                height: 24px;
            }
            p{
                overflow: hidden;
                font-size: 14px;
                color: #666;
                line-height: 24px;
                height: 74px;
            }
        }
    }
}
/* tip - couple page */
.title-tip{
    background: #ac8827;
    width: 100%;
    height: 250px;
    line-height: 250px;
    text-align: center;
    p{
        font-family: $font_0;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2em;
    }
}
.tip-head{
    width: 100%;
    height: 120px;
    line-height: 120px;
    ul{
        overflow: hidden;
        text-align: center;
        li{
            display: inline-block;
            width: 220px;
            a{
                font-size: 22px;
                color: #999;
                &:hover{color: #d20038;}
                &.on{color: #d20038;}
            }
        }
    }
}
.tip-body{
    overflow: hidden;
    background: url(../img/test/line_01.png) repeat-x;
    background-position: left bottom;
    padding-bottom: 30px;
    &.col3{
        width: 1110px;
        margin-left: -15px;
    }
    &.col2{
        width: 1100px;
        margin-left: -15px;
    }
    .tip-cp-box{
        float: left;
        position: relative;
        width: 340px;
        height: 420px;
        margin: 0 15px 30px;
        .tip-cp_img{
            overflow: hidden;
            width: 100%;
            height: 220px;
            background: url('../img/test/couple_01.jpg')no-repeat;
            background-size: cover;
            background-position: center;
            img{
                width: 100%;
            }
        }
        .tip-cp_info{
            position: absolute;
            left: 50%;
            bottom: 60px;
            margin-left: -160px;
            padding: 28px 30px;
            text-align: center;
            width: 320px;
            height: 160px;
            background: #fff;

            @extend %extend_2;
            h3{
                font-size: 16px;
                font-weight: 500;
                color: #999;
                padding-bottom: 28px;
                transition: .4s;
                &.on{
                    font-size: 20px;
                    color: #222;
                }
            }
            p{
                font-size: 24px;
                font-weight: 400;
                color: #222;
                line-height: 28px;
                &.tci_text_01{}
                &.tci_text_02{
                    text-align: left;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: normal;
                    color: #666;
                    border-top: 1px dashed #ccc;
                    padding-top: 20px;
                    line-height: 20px;
                }
            }
        }
        .tip-cp_button{
            position: absolute;
            left:0;
            bottom: 0;
            text-align: center;
            width: 100%;
            height: 60px;
            line-height: 60px;
            a{
                display: inline-block;
                width: 60px;
                height: 60px;
                border: 2px solid #ccc;
                background: url(../img/test/btn_more.png) no-repeat;
                background-position: center;
                transition: .4s;
                transform: translate3d(0, 0, 0);
                @extend %extend_2;
                &:hover{
                    width: 84%;
                    height: 60px;
                    border: 2px solid #d20038;
                    background: url(../img/test/btn_more_more.png) no-repeat;
                    background-position: center;
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.btn_morelist{
    width: 100%;
    padding-top: 50px;
    text-align: center;
    a{
        display: inline-block;
        border: 1px solid #000;
        width: 280px;
        height: 60px;
        line-height: 60px;
        font-family: $font_0;
        font-size: 20px;
        transition: .6s;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
}

/* Docent page */

#tab {
	margin: 0 5px;
	> input {
		display: none;
		&:nth-of-type(1) {
			&:checked {
				~ div:nth-of-type(1) {
					display: block;
				}
				~ section > label:nth-of-type(1) {
					border-bottom: 0 none;
					color: #222;
				}
			}
			~ div:nth-of-type(1) {
				display: none;
			}
			~ section > label:nth-of-type(1) {
				border: 1px solid #222;
				color: #999;
			}
		}
		&:nth-of-type(2) {
			&:checked {
				~ div:nth-of-type(2) {
					display: block;
				}
				~ section > label:nth-of-type(2) {
					border-bottom: 0 none;
					color: #222;
				}
			}
			~ div:nth-of-type(2) {
				display: none;
			}
			~ section > label:nth-of-type(2) {
				border: 1px solid #222;
				color: #999;
			}
		}
		&:nth-of-type(3) {
			&:checked {
				~ div:nth-of-type(3) {
					display: block;
				}
				~ section > label:nth-of-type(3) {
					border-bottom: 0 none;
					color: #222;
				}
			}
			~ div:nth-of-type(3) {
				display: none;
			}
			~ section > label:nth-of-type(3) {
				border: 1px solid #222;
				color: #999;
			}
		}
	}
	> section {
		overflow: hidden;
		width: 100%;
		@extend %extend_2;
		padding-left: 1px;
		> label {
			float: left;
			display: block;
			width: 33.4%;
			height: 70px;

			@extend %extend_2;
			text-align: center;
			font-size: 24px;
			line-height: 70px;
			margin-left: -1px;
		}
	}
	> div {
		padding-top: 50px;
		width: 100%;
		@extend %extend_2;
	}
}

/* #contents END */
#footer {
    overflow: hidden;
    width: 100%;
    height: 463px;
    background: $url_17 no-repeat;
}
/* #footer END */
#jssor_1 {}

.jssorb01 {
    position: absolute;

    div {
        @extend %extend_3;
        background-color: $color_mine_shaft_approx;

        &:hover {
            @extend %extend_3;
            background-color: $color_quill_gray_approx;
        }
    }

    .av {
        @extend %extend_3;
        background-color: $white;

        &:hover {
            background-color: $color_quill_gray_approx;
        }
    }

    .dn {
        background-color: $color_fuscous_gray_approx;

        &:hover {
            background-color: $color_fuscous_gray_approx;
        }
    }
}
/* jssorb01 END */
.jssora13l {
    display: block;
    position: absolute;
    cursor: pointer;
    background: $url_25 no-repeat;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 25%;
    width: 39px;
    height: 74px;
    margin-left: -39px;
}
/* jssora13l END */
.jssora13r {
    display: block;
    position: absolute;
    cursor: pointer;
    background: $url_26 no-repeat;
    overflow: hidden;
    z-index: 2;
    top: 0;
    right: 25%;
    width: 39px;
    height: 74px;
}
/* jssora13r END */
.slitem {}

.mask {
    width: 1900px;
    height: 680px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    div {
        float: left;
    }

    .mask-dark {
        width: 410px;
        height: 680px;
        background: $black_40;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
    }

    .mask-block {
        width: 1080px;
        height: 680px;
    }
}
/* mask END */
.bot-banner .bb-title {
    position: relative;
    padding: 250px 0 55px;
    text-align: center;

    p {
        font: bold 16px $font_0;
        letter-spacing: 1em;
    }

    .deco {
        background: $url_24 no-repeat;
        width: 205px;
        height: 50px;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 1;
    }
}
/* bot-banner END */

/* layer popup */
.tip-cp-layerpop-wrapper{
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}
.tip-cp-layerpop {
    background-color:#fff;
    color:#000;
    display:none;
    width:1280px;
    min-height: 500px;
    display: block;
    margin: 30px auto;
    .tcl-head{
        position: relative;
        width: 1080px;
        margin: 0 auto;
        padding: 30px 0;
        h1{
            font-size: 17px;
            font-weight: normal;
            color: #666;
            span{
                color: #b9b9b9;
                padding: 0 10px;
            }
            strong{
                font-family: $font_0;
                font-size: 20px;
                letter-spacing: 0.3em;
                color: $color_crimson_approx;
            }
        }
        .b-close{
            cursor:pointer;
            position:absolute;
            right: 0;
            top: 26px;
        }
    }
    .tcl-title{
        position: relative;
        width: 100%;
        height: 500px;
        text-align: center;
        .tcl-mask{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.5);
        }
        img{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
        }
        span{
            margin-top: 200px;
            padding: 30px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 30px;
            font-weight: 300;
            display: inline-block;
        }
    }
    .tcl-body{
        padding: 80px 100px;
        .tcl-desc{
            padding-bottom: 80px;
            p{
                font-size: 30px;
                font-weight: 300;
                line-height: 40px;
            }
        }
        .line_divid-h{
            margin: 0 auto;
            width: 100px;
            border-top: 1px solid #000;
            text-align: center;
        }
        .tcl-htmlbody{
            padding: 80px 0;
        }
        .line_divid-v{
            margin: 0 auto;
            width: 1px;
            height: 80px;
            border-left: 1px solid #000;
            text-align: center;
        }
        .tcl-sns{
            padding: 30px 0 80px;
            text-align: center;
            p{
                font-size: 15px;
                padding-bottom: 20px;
            }
            ul{
                overflow: hidden;
                li{
                    display: inline-block;
                    margin-right: 10px;
                    :last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .tcl-pn{
            overflow: hidden;
            padding: 30px 0 0;
            border-top: 1px solid #000;
            a{
                color: #222;
                img{
                  border:1px solid #ccc;
                  vertical-align: middle;
                }
                font-size: 15px;
                &:first-child{
                    float: left;
                    img{
                        margin-right: 15px;
                    }
                }
                &:last-child{
                    float: right;
                    img{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

/* layer popup END */

.dn{display: none;}
