@font-face {
    font-family: 'nexa';
    src: url('fonts/nexa/Nexa Light.eot');
    src: url('fonts/nexa/Nexa Light.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/nexa/Nexa Light.woff2') format('woff2'),
    	 url('fonts/nexa/Nexa Light.woff') format('woff'),
    	 url('fonts/nexa/Nexa Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'nexa';
    src: url('fonts/nexa/Nexa Bold.eot');
    src: url('fonts/nexa/Nexa Bold.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/nexa/Nexa Bold.woff2') format('woff2'),
    	 url('fonts/nexa/Nexa Bold.woff') format('woff'),
    	 url('fonts/nexa/Nexa Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'nexa script';
    src: url('fonts/nexascript/NexaScript-Free.eot');
    src: url('fonts/nexascript/NexaScript-Free.eot?#iefix') format('embedded-opentype'),
    	 url('fonts/nexascript/NexaScript-Free.woff2') format('woff2'),
    	 url('fonts/nexascript/NexaScript-Free.woff') format('woff'),
    	 url('fonts/nexascript/NexaScript-Free.otf') format('opentype');
    font-weight: normal;
}
